on:
  push:
    # branches:
    #   - "main"
    # tags:
    #   - "v*.*.*"
  workflow_dispatch:

env:
  PYTHON_VERSION: '3.12'

permissions:
  packages: write
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [
          ubuntu-latest,
          windows-latest,
          macos-latest
        ]
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          enable-cache: true

      - name: Build EXE
        run: uvx pyinstaller ./movesic.spec

      - uses: actions/upload-artifact@v4
        if: "!startsWith(github.ref, 'refs/tags/')"
        with:
          name: movesic-${{ matrix.os }}
          path: |
            dist/pyinstaller/macosx_*/movesic.app
            dist/pyinstaller/win_amd64/movesic.exe
            dist/pyinstaller/manylinux_*/movesic
          if-no-files-found: ignore

      - uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            dist/pyinstaller/*
          prerelease: true
          make_latest: true
